<?xml version="1.0" encoding="UTF-8"?>


<suite name="TestSuite">
  	<listeners>
        <listener class-name="automation.common.listener.ReportListener"/>
    </listeners>

	<test name="TestProject with Firefox">
	<parameter name="browserTestNG" value="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.TestAlada"/>
			
		</classes>	
	</test> 

	
</suite> <!-- Suite -->