<?xml version="1.0" encoding="UTF-8"?>


<suite name="TestSuite">
  	<listeners>
        <listener class-name="automation.common.listener.ReportListener"/>
    </listeners>

	<test name="TestProject with chrome">
	<parameter name="browserTestNG" value="chrome"></parameter>
		<classes>
			<class name="automation.testsuite.Section2_MagnetoTestStore"/>
			
		</classes>	
	</test> 
	<test name="TestProject with firefox">
	<parameter name="browserTestNG" value="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.Section2_MagnetoTestStore"/>
			
		</classes>	
	</test> 
	<test name="TestProject with edge">
	<parameter name="browserTestNG" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Section2_MagnetoTestStore"/>
			
		</classes>	
	</test> 

	
</suite> <!-- Suite -->